* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    transition: 0.2s;
    --width-cube: 10px;
    --width-display: 50px;
    transform-style: preserve-3d;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll);
}

@keyframes rotate {
    0%{transform: rotate3d(0,1,0,0);}
    50%{transform: rotate3d(0,1,0,360deg);}
    100%{transform: rotate3d(0,0,0,0);}
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    --yellow: #FFDA76;
    --button-input: #B4D6CD;
    --border: #000;
    --scroll: #234;
    --bg: #fff;
    overflow: hidden;
}

details[open]{
    width: 100%;
}

.setting, .actions, .container_models{
    pointer-events: none;
    position: fixed;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: 0;
    padding: 10px;
    gap: 10px;
    z-index: 3;
    overflow: hidden auto;
    form{
        margin-top: 10px;
    }
}

.container_models{
    display: flex;
    width: 100%;
    max-width: 150px;
    height: calc(100% - 150px);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    left: auto;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;
    button{
        margin: 10px 0;
        width: 100%;
    }

    .models{
        width: 100%;
        height: calc(100% - 100px);
        overflow: hidden auto;
    }

    .model{
        pointer-events: all;
        width: 100%;
        height: 60px;
        animation: none;
        cursor: pointer;
        .container-cube{
            width: auto;
            height: auto;
        }
        &:hover{
            animation: rotate 10s linear;
            animation-iteration-count: infinite;
        }
    }
}

.actions{
    width: 100%;
    height: auto;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: initial;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 4;
    background-color: var(--bg);
    .buttons{
        width: 100%;
        display: flex;
        flex-flow: row; 
        justify-content: flex-start;
        align-items: center;
        gap: 5px 5px;
        form{margin: 0;}
    }
    .inputs{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        box-sizing: border-box;
    }
}

.move_buttons{
    scale: 0;
    position: fixed;
    bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    .arrow{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

form{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;
}

input,
button {
    pointer-events: all;
    padding: 10px;
    border: 2px solid var(--border);
    border-radius: 5px;
    outline: none;
    white-space: nowrap;
}

input{
    width: 100%;
}

button{
    background-color: var(--button-input);
    cursor: pointer;
    box-shadow: 0px 3px 0 var(--border);
    translate: 0 -3px;
    &:hover{
        filter: brightness(80%);
        translate: 0 -2px;
        box-shadow: 0px 2px 0 var(--border);
    }
    &.click,&:active{
        filter: brightness(80%);
        translate: 0 0;
        box-shadow: 0px 0px 0 var(--border);
    }
}

summary{
    cursor: pointer;
    pointer-events: all;
    background-color: var(--yellow);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--border);
    width: auto;
    color: #000;
}

@media screen and (max-width:670px){

    span{
        display: none;
    }

    .move_buttons{
        &.show{
            scale: 1;
        }
    }

    button{
        background-color: var(--button-input);
        cursor: pointer;
        box-shadow: 0px 3px 0 var(--border);
        translate: 0 -3px;
        &.click,&:active{
            filter: brightness(80%);
            translate: 0 0;
            box-shadow: 0px 0px 0 var(--border);
        }
    }
}